# Keil MDK 工程忽略规则
*.uvoptx
*.uvguix.*
*.bak
*.o
*.obj
*.axf
*.hex
*.bin
*.map
*.lst
*.crf
*.d
MDK-ARM/
Objects/
Listings/
Output/
.vscode/
*.ini
*.log
*.dep
*.lnp
*.iex
*.scvd
*.dbgconf
Thumbs.db
.DS_Store
*.tmp